/* Fonts Lonk */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin:1% 10%;
}
/* Header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    margin: 15px;
    
}
nav ul li{
    list-style: none;
    margin: 15px;
}
nav ul i{
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
/* Start Influencer CSS */
.start-influencer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.journey-inluencer h1{
    font-size: 52px;
}
.journey-inluencer p{
    margin-bottom: 30px;
}
.main-camera img{
    width: 440px;
    height: 414px;
}
.prebook-button{
    text-decoration: none;
    padding:10px 24px;
    background-color: #E02C6D;
    border-radius: 15px;
    color: #fff;
}
/* Sponsor */
.sponsor{
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}


/* Popular Collection */
.section-title{
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10px;
    margin-bottom: 20px;
}
.product{
    margin-bottom: 10px;
    padding: 25px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 10px 10px 25px #aaaaaa;
    border-radius: 15px;
}
.product img{
    width: 300px;
    height: 256px;
}
.product h3{
    font-weight: 400;
    font-size: 28px;
}
.product h4{
    font-weight: 300;
    font-size: 24px;
}
.fill{
    color: #FB8200;
}
.half{
    color:#FB8200 ;
}
.see-more-button{
    text-decoration: none;
    color: #E02C6D;
    
}
.more{
    text-align: right;
    
}
/* Keep In Touch */
.subsribe-form{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.banner-image img{
    width: 500px;
    height: 500px;
}
.form h1{
    font-size: 60px;
}
.form input{
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    border: 2px solid #E02C6D;
    color: #E02C6D;
}
::placeholder{
    color: #E02C6D;
    
}
.subscribe-button{
    
    text-decoration: none;
    color: white;
    padding: 10px 160px;
    background-color: #E02C6D;

}
.subscribe-button:hover{
    background-color: black;
}
.unsubscribe{
    text-decoration: none;
    padding-left: 160px;
    color: red;
}


/* Footer */
footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
}
.fab{
    margin: 10px;
}
/* Reponsive */
@media only screen and (max-width:688px){

    .start-influencer{
        grid-template-columns: repeat(1,1fr);
    }
    .sponsor{
        grid-template-columns: repeat(4,1fr);
    }
    .products{
        grid-template-columns: repeat(1,1fr);
    }
    .subsribe-form{
        grid-template-columns: repeat(1,1fr);
    }
}